#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.HomeImg {
  border-radius: 15px;
  aspect-ratio: 16 / 12;
  object-fit: cover;
}

.test {
  border: none;
}

.active {
  color: #d4674c !important;
  font-weight: 500;
}

.LinkButtonColor {
  background-color: #d4674c;
  border-color: #d4674c;
}
